<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/login.css">
</head>

<body>
    <div class="btn_div">
        <a id="home" href="/">Home</a>
        <a id="login_btn" href="login">Login</a>
        <a id="signup_btn" href="signup">SignUp</a>
        <a id="logout_btn" href="data">Data </a>
        <a id="logout_btn" href="#">LogOut</a>
    </div>
</body>
<script src="js/index.js"></script>

</html>